[2017-05-12 09:40] MeepyMay opened #1 "Wireframes for 1st Draft"
This should highlight the minimum needed for a user to participate in a local Systers event:

1. Login - Facebook, Google
- User uses a previously made account or manually signs up with an email.
2. Include Profile Screen.
3. View Events.
- Can be displayed on a map or list. (Maybe include options for different views.)
- Include a screen that shows the event details. (On map or list style.)
4. My

[2017-05-12 09:42] MeepyMay commented on #1
- Headers = Blue/Green
- Errors = Red (Should not be used for anything other than errors.)

**Don't use secondary palette unless absolutely necessary.**

![screen shot 2017-05-11 at 16 20 05](https://cloud.githubusercontent.com/assets/2440938/25971135/3831a2ac-3669-11e7-9b91-0fd69b45719c.png)

[2017-05-13 18:18] pandilladivya commented on #1
@MeepyMay @sandarumk @HimanshiJain

Am I supposed to provide wireframes for only few modules which are mentioned above.. or Should I make them for the whole application?

Thanks :blush:

[2017-05-23 17:21] MeepyMay commented on #1
@pandilladivya Mentioned above! Sorry Divya.

[2017-06-08 17:13] MeepyMay opened #4 "Mentors create issues for the first version of Volunteers Android."
## Description
As an Student,
I want to view all the work I need to do,
so that I can manage my time and program with weekly deployments on time.

## Mocks
N/A

## Acceptance Criteria
- Student can view all user stories in the issues list.
- User stories follow this format.
- Includes **labels, assignees, and added to the "Student Tasks" Project board.**

## Definition of Done
- Matches all the us

[2017-06-08 17:31] MeepyMay opened #5 "Mentors perform a code review on the 1st week's PR. (May 30 - June 05)"
## Description
As an Student,
I want to see where I can improve in my code,
so that I can manage grow my technical strengths.

## Mocks
N/A

## Acceptance Criteria
- Checklist below is complete and included in a comment on this issue. (Will transfer to Wiki later.)
- Feedback is given to the developer. (Comment on the PR.)

## Definition of Done
	 Complete this Code Review Checklist (Adapt as Need

[2017-06-08 17:32] MeepyMay opened #6 "Mentors perform a code review on the 2nd week's PR. (June 06 - June 12)"
## Description
As an Student,
I want to see where I can improve in my code,
so that I can manage grow my technical strengths.

## Mocks
N/A

## Acceptance Criteria
- Checklist below is complete and included in a comment on this issue. (Will transfer to Wiki later.)
- Feedback is given to the developer. (Comment on the PR.)

## Definition of Done
	 Complete this Code Review Checklist (Adapt as Need

[2017-06-08 17:33] MeepyMay opened #7 "Mentors perform a code review on the 3rd week's PR. (June 13 - June 19)"
## Description
As an Student,
I want to see where I can improve in my code,
so that I can manage grow my technical strengths.

## Mocks
N/A

## Acceptance Criteria
- Checklist below is complete and included in a comment on this issue. (Will transfer to Wiki later.)
- Feedback is given to the developer. (Comment on the PR.)

## Definition of Done
	 Complete this Code Review Checklist (Adapt as Need

[2017-06-08 17:34] MeepyMay opened #8 "Mentors perform a code review on the 4th week's PR. (June 20 - June 26)"
## Description
As an Student,
I want to see where I can improve in my code,
so that I can manage grow my technical strengths.

## Mocks
N/A

## Acceptance Criteria
- Checklist below is complete and included in a comment on this issue. (Will transfer to Wiki later.)
- Feedback is given to the developer. (Comment on the PR.)

## Definition of Done
	 Complete this Code Review Checklist (Adapt as Need

[2017-06-08 17:43] MeepyMay opened #9 "Mentors merge all PRs from Week 1 to Branch "1.0""
## Description
As an Admin,
I want to download the current code,
so that I can perform user tests and check on the end result.

## Mocks
N/A

## Acceptance Criteria
- All PRs have been reviewed at least 2 times (from 2 different mentors).
- Code merged into the correct branch "1.0" for the first release.
- When possible, an .APK file is pushed to the "apk" branch.

## Definition of Done
- Week 1's

[2017-06-08 17:43] MeepyMay opened #10 "Mentors merge all PRs from Week 2 to Branch "1.0""
## Description
As an Admin,
I want to download the current code,
so that I can perform user tests and check on the end result.

## Mocks
N/A

## Acceptance Criteria
- All PRs have been reviewed at least 2 times (from 2 different mentors).
- Code merged into the correct branch "1.0" for the first release.
- When possible, an .APK file is pushed to the "apk" branch.

## Definition of Done
- Week 2's

[2017-06-08 17:50] MeepyMay opened #11 "Mentors merge all PRs from Week 3 to Branch "1.0""
## Description
As an Admin,
I want to download the current code,
so that I can perform user tests and check on the end result.

## Mocks
N/A

## Acceptance Criteria
- All PRs have been reviewed at least 2 times (from 2 different mentors).
- Code merged into the correct branch "1.0" for the first release.
- When possible, an .APK file is pushed to the "apk" branch.

## Definition of Done
- Week 3's

[2017-06-08 17:51] MeepyMay opened #12 "Mentors merge all PRs from Week 4 to Branch "1.0""
## Description
As an Admin,
I want to download the current code,
so that I can perform user tests and check on the end result.

## Mocks
N/A

## Acceptance Criteria
- All PRs have been reviewed at least 2 times (from 2 different mentors).
- Code merged into the correct branch "1.0" for the first release.
- When possible, an .APK file is pushed to the "apk" branch.

## Definition of Done
- Week 4's

[2017-06-08 17:54] MeepyMay opened #13 "Admin creates tangible tasks for Mentors for Phase I in GSoC."
## Description
As an Mentor,
I want to know what work is expected of me,
so that I can manage my time and my full time job.

## Mocks
N/A

## Acceptance Criteria
- Mentors can view all the work needed for Phase I.
- All Weeks are clearly defined.

## Definition of Done
- Moved to the "Done" Column.
- User stories follow this format.

## Estimation
- 1 Hour

[2017-06-08 18:02] MeepyMay opened #14 "Admin sends out etouches information to GSoC students."
## Description
As an Student,
I need to integrate the etouches API,
so that I can view and test live data in my application.

## Mocks
N/A

## Acceptance Criteria
- Students sign an NDA document for the Anita Borg Institute.
- Student confirms the validity of the access key/ID.

## Definition of Done
- Moved to the "Done" Column.
- User stories follow this format.

## Estimation
- 0.5 Hours

[2017-06-08 18:03] #13 closed

[2017-06-10 00:02] MeepyMay opened #16 "User logs in with Facebook Account"
## Description
_[TEMPLATE] As a (USER), I want to (DO THIS), so that I can (ACHIEVE THAT)._
As an attendee,
I want to login with Facebook,
so that I can include my information to register for the event.

## Mocks
![screen shot 2017-06-09 at 20 01 58](https://user-images.githubusercontent.com/2440938/26998163-900fb8f0-4d4e-11e7-9a85-db83bc28b05d.png)

## Acceptance Criteria
- User logins to Faceboo

[2017-06-10 00:04] MeepyMay opened #17 "User logs in with Google Account"
## Description
As an attendee,
I want to login with Google,
so that I can include my information to register for the event.

## Mocks
![screen shot 2017-06-09 at 20 01 58](https://user-images.githubusercontent.com/2440938/26998163-900fb8f0-4d4e-11e7-9a85-db83bc28b05d.png)

## Acceptance Criteria
- User logins to Google.
- User can review information provided.
- User receives success/failure integr

[2017-06-10 00:06] MeepyMay opened #18 "User logs in with email."
## Description
As an attendee,
I want to login with my email,
so that I can include my information to register for the event.

## Mocks
![screen shot 2017-06-09 at 20 01 58](https://user-images.githubusercontent.com/2440938/26998163-900fb8f0-4d4e-11e7-9a85-db83bc28b05d.png)

## Acceptance Criteria
- User logs in with an email.
- User can review information provided.
- User receives success/failure

[2017-06-10 00:08] MeepyMay opened #19 "User registers for an event."
## Description
As an attendee,
I want to register for the event
so that I can obtain information about the event.

## Mocks
TBD @pandilladivya Can you include a mock screen below?

## Acceptance Criteria
- User information is relayed to the server via Etouches API
- User can review information provided.
- User receives success/failure integration message.

## Definition of Done
- Passes all regres

[2017-06-10 00:13] MeepyMay opened #20 "User views available events close to their area."
## Description
As an attendee,
I want to view the events in my area,
so that I can obtain information about the various speakers, content, venue and timings.

## Mocks
TBD @pandilladivya Can you include a mock screen below?

## Acceptance Criteria
- User is able to view events on a map.
- Summary of the event is visible on a small popup when clicked (Name, Time, Venue).
- Successful integration wi

[2017-06-10 00:20] MeepyMay opened #21 "User filters events to see where they volunteered."
## Description
As an attendee,
I want to view the events I have signed up as a Volunteer,
so that I can plan accordingly and review responsibilities before the event.

## Mocks
TBD @pandilladivya Can you include a mock screen below?

## Acceptance Criteria
- User is able to view volunteer status on small popup of events on the map.
- On the detailed events screen, they see volunteer status.
- User

[2017-06-10 00:23] MeepyMay opened #22 "User can view events in a personal schedule page."
## Description
As an attendee,
I want to have a personal schedule page
so that I can view all the events I have already registered for.

## Mocks
TBD @pandilladivya Can you include a mock screen below?

## Acceptance Criteria
- User can view all the registered events on a single page.
- User can view event details from the schedule page.

## Definition of Done
- Passes all regression tests.
- Pass

[2017-06-10 01:17] MeepyMay opened #23 "Users can view their location on the map."
## Description
As an attendee,
I want to see where I am in respect to nearby events,
so that I can plan accordingly in regards to transportation, etc.

## Mocks
TBD @pandilladivya Can you include a mock screen below?

## Acceptance Criteria
- User can view their location on the map with nearby events.
- User can view nearby events when traveling to new cities/countries. (Updates with their travel.

[2017-06-10 01:18] MeepyMay commented on #4
@sandarumk @HimanshiJain I helped @pandilladivya by creating the issues. Please view and review them as I don't have a good idea of time estimation. Thank you!

[2017-06-10 01:18] #4 closed

[2017-06-12 15:10] sandarumk commented on #4
Sure. Thank you very much @MeepyMay

[2017-06-13 15:36] pandilladivya commented on #16
The modified version of the mock

<img width="322" alt="screen shot 2017-06-13 at 9 03 36 pm" src="https://user-images.githubusercontent.com/16818129/27090900-2483616e-507c-11e7-9ff2-896b33afbd71.png">

[2017-06-13 15:38] pandilladivya commented on #17
The following is the modified mock.

<img width="322" alt="screen shot 2017-06-13 at 9 03 36 pm" src="https://user-images.githubusercontent.com/16818129/27090970-61ca6d1a-507c-11e7-8f4f-b009a3afc11b.png">

[2017-06-13 15:39] pandilladivya commented on #18
The following is the modified mock.

<img width="322" alt="screen shot 2017-06-13 at 9 03 36 pm" src="https://user-images.githubusercontent.com/16818129/27091021-86ba9604-507c-11e7-9219-782ea3eff5bb.png">

[2017-06-13 16:26] pandilladivya commented on #20
Map View
-
<img width="331" alt="screen shot 2017-06-13 at 9 26 26 pm" src="https://user-images.githubusercontent.com/16818129/27092497-396ae46c-5081-11e7-80d5-ea8deaea00e1.png">

On Info Button Click in the action bar
-
<img width="331" alt="screen shot 2017-06-13 at 9 29 03 pm" src="https://user-images.githubusercontent.com/16818129/27092543-58dfceac-5081-11e7-992b-97f4a6a55082.png">

List View

[2017-06-21 13:20] #14 closed

[2017-06-22 15:28] #1 closed

[2017-06-22 15:30] pandilladivya commented on #17
Closing this issue since the PR is merged.
refs #2

[2017-06-22 15:30] #17 closed

[2017-06-30 18:25] pandilladivya commented on #16
Closing this issue.
Merged via #3

[2017-06-30 18:25] #16 closed

[2017-07-08 13:39] HimanshiJain opened #28 "Description: Writing tests for the activity. SignInActivity"

[2017-07-10 17:26] #5 closed

[2017-07-10 17:26] #6 closed

[2017-07-10 17:26] #7 closed

[2017-07-10 17:26] #8 closed

[2017-07-10 17:26] #9 closed

[2017-07-10 17:26] #10 closed

[2017-07-10 17:26] #11 closed

[2017-07-10 18:58] pandilladivya commented on #28
@HimanshiJain  @sandarumk

Before testing, I think I will need to do form validations.

Should I Include them in this issue or should I create a new issue for that and put this issue specific for testing?

Thanks 🙂

[2017-07-10 19:22] HimanshiJain commented on #28
@pandilladivya Let us keep it specific to testing. I will create a new issue for validations.

[2017-07-10 19:32] HimanshiJain opened #29 "Validate form inputs for SignInActivity"
Validate input fields before making calls for authentication to ensure application security and to get the right data.

[2017-07-13 02:42] #12 closed

[2017-07-29 16:28] sandarumk opened #47 "Integrate Travis"

[2017-08-14 09:37] sandarumk commented on #29
@pandilladivya When you are sending a pull request, please add the issue number as well so it will link the issue. It will be easier for us to close the issue along with the pull request

[2017-08-14 09:43] pandilladivya commented on #29
@sandarumk Okay.

[2017-08-14 12:28] pandilladivya commented on #18
Closing this issue since it has been merged. 🙂

[2017-08-14 12:28] #18 closed

[2017-08-14 12:34] pandilladivya commented on #29
Closing this PR since it is merged via https://github.com/systers/volunteers-android/pull/30

[2017-08-14 12:34] #29 closed

[2017-08-14 17:06] sandarumk opened #54 "Create a release for the 1.0"
**Description**
As a user, I should be able to get the source code for 1.0 release

**Acceptance Criteria**
The release should have the source code/apk (if possible) and the git tag to the said branch.

**Definition of done**
When the user click the releases tab in Github, it should list the release 1.0

**Estimation**
0.5 hours

[2017-08-14 17:07] sandarumk commented on #54
https://help.github.com/articles/creating-releases/

[2017-08-14 17:09] sandarumk commented on #54
Should be done after #34 is merged.

[2017-08-15 17:58] sandarumk commented on #28
Can I close this now @pandilladivya ? since this is covered via #32

[2017-08-15 18:14] HimanshiJain commented on #28
@sandarumk I think we do not have tests for Facebook and Google sign in. It's manual sign in that is covered.

[2017-08-15 19:36] pandilladivya commented on #54
@sandarumk @HimanshiJain
https://github.com/systers/volunteers-android/releases/tag/v1.0

Created a release for v1.0

[2017-08-16 01:04] #54 closed

[2017-08-16 17:37] #22 closed

[2017-08-18 16:43] HimanshiJain opened #67 "Bookmark events without logging in."
Description:
Bookmark events without logging in.

Acceptance Criteria:
1. User should be able to bookmark(star) events within the app, without registering/ logging in into the application.
2. Tests for the same.

[2017-08-18 16:51] MeepyMay commented on #28
Marking/commenting as 50% complete.

[2017-08-19 10:19] sandarumk commented on #23
@pandilladivya This is finished right?

[2017-08-19 10:49] pandilladivya commented on #23
Currently we are showing all the events. Not based on location wise.

[2017-08-19 21:15] pandilladivya commented on #20
This is done via #69 and #64

[2017-08-19 21:15] pandilladivya commented on #20
Can we close this @HimanshiJain @sandarumk ?

[2017-08-20 16:06] pandilladivya commented on #19
Closing this issue - Merged via #71

[2017-08-20 16:06] #19 closed

[2017-08-20 16:07] #20 closed

[2017-08-21 03:49] pandilladivya commented on #21
Merged via #72

[2017-08-21 03:49] #21 closed

[2017-08-25 10:50] zarka commented on #47
@sandarumk Can I work on this issue.

[2017-08-25 11:24] sandarumk commented on #47
yes go ahead

[2017-08-25 14:51] zarka commented on #47
@sandarumk
I have added travis to the project. But the build is failing because of lint found some errors.

We have two options -
1. Ignore the lint check in travis.
2. Adding the travis and then fixing the lint issues. (Preferred)

How should I proceed?

[2017-08-25 14:57] vaibhavsingh97 commented on #67
@HimanshiJain  can i work on this issue?

[2017-08-25 15:39] pandilladivya commented on #67
@vaibhavsingh97
You can work on Bookmarking without login, I have worked on Bookmarking events after the user has logged in as part of GSoC. I will be pushing the code tonight.
So you can confirm with @HimanshiJain, claim this issue and work on it after I push those changes ☺️

[2017-08-25 15:46] HimanshiJain commented on #67
Sure @vaibhavsingh97 you can work on this issue after @pandilladivya has pushed with login feature. And till then we can discuss what approach do you plan to use for the same. :)

[2017-08-25 16:44] zarka commented on #47
@sandarumk @HimanshiJain @pandilladivya
I have added travis to the project. But the build is failing because lint found some errors.

We have two options -

Ignore the lint check in travis.
Adding the travis and then fixing the lint issues. (Preferred)
How should I proceed?

[2017-08-26 12:15] sandarumk commented on #47
My suggestion is to remove the lint check from Travis. @HimanshiJain , @pandilladivya I would like to hear your ideas as well.

[2017-08-26 15:43] pandilladivya commented on #47
Yeah, That can be done and we can create a separate issue which includes all lint errors like removing unused code etc, So that beginners can work on them 😊

[2017-08-26 16:20] zarka commented on #47
@sandarumk @pandilladivya
I would recommend - Adding the travis and then fixing the lint issues.
This will help us maintain the code quality.

Rest is up to you, I will proceed as directed.

[2017-08-28 07:06] vaibhavsingh97 commented on #67
@pandilladivya I have to wait till #80 will merge right?
@HimanshiJain we can have flag which shows user has registered or not. btw i don't understand the need of tracking the registration as bookmarking is a common event for both categories of users

[2017-08-28 11:26] pandilladivya commented on #67
@vaibhavsingh97 Yes, I think you need to wait.
How are you going to store the bookmarked events even if the user is not logged in? Can you state your logic in detail.

[2017-08-29 09:31] HimanshiJain commented on #67
Yes @vaibhavsingh97 , so bookmarking is a common thing, that user should be able to do without registering or logging in. Tracking registration would be not useful as far as I think.
And we can discuss approaches to things that @pandilladivya has mentioned.

[2017-08-29 09:35] HimanshiJain commented on #47
@zarka can you please elaborate in detail the pros and cons of both the approaches and possibly some links that make you think the above option is better?

[2017-08-29 16:59] zarka commented on #47
@HimanshiJain
## Enabling travis and then fixing the lint issues -
#### Pros
1. We will be able to keep track and fix the lint issues in the codebase.
2. We will be able to check the quality of incoming code (PRs made by contributors).
#### Cons
1. Travis build will take around 10 - 20 extra seconds to complete.

## Ignore the lint check in travis -
#### Pros
1. Travis build will be slightly fast.

[2017-08-29 17:42] sandarumk commented on #47
It is not the extra build time that I worried about. As this is an open source project, and a fairly a new one at that, we will be getting a lot of new contributors (specially in GCI and GSoC). Having a failing travis build in their PRs will not work as an encouragement.
What we usually do for the lint issues in other projects is make a separate issue with lint list exported and let the new comers

[2017-08-29 17:45] vaibhavsingh97 commented on #47
@sandarumk I have one solution for this. Please visit [Hound CI](https://houndci.com/).
@zarka If we use Hound CI then we can go with second option

[2017-08-29 17:57] sandarumk commented on #47
I think for now
[code]
would be sufficient. But @vaibhavsingh97 if you can do an analysis on Hound CI vs Travis and what will Hound CI do better than travis, and paste here that would be great.

[2017-08-29 17:58] zarka commented on #47
@vaibhavsingh97
I was going through the HoundCI docs. It dosent support java language.
Instead we can use [codacy](https://www.codacy.com/).

[2017-08-29 17:59] zarka commented on #47
@sandarumk
I don't think Hound CI build your code it just checks the code quality. Also it no where on the website it is mentioned they support java.

[2017-08-29 18:00] sandarumk commented on #47
We were planning to integrate codecy after travis. It is good that it came out.

[2017-08-29 18:01] zarka commented on #47
Should I proceed then?

[2017-08-29 18:02] sandarumk commented on #47
Yes. Sure. I will open up an issue for lint

[2017-08-29 18:03] zarka commented on #47
Will send a PR now.

[2017-08-29 18:05] sandarumk opened #83 "Fix Lint Errors"
This issue is to track the lint issues in the project and solve them. If you are going to fix a lint issue please mention as a comment about what lint issue you are working on. If the existing exported list is outdated, you can first add a new exported list and choose an issue. It is recommended that you do not pick more than two lint issues because we need to keep them if possible for the new con

[2017-08-29 18:06] sandarumk commented on #83
@pandilladivya Can you add the current lint issue list exported so that others can get an idea.

[2017-08-29 18:06] sandarumk commented on #47
Great!

[2017-08-29 18:14] vaibhavsingh97 commented on #47
@sandarumk Sorry! Hound CI don't support Java as of now. @zarka Thanks for correcting me.
Yeah! Codacy is a good option

[2017-08-29 18:20] vaibhavsingh97 commented on #83
@sandarumk instead of `Status: Available` we should use `Beginner Friendly` (Green Color). Just small suggestion

[2017-08-29 18:22] vaibhavsingh97 commented on #67
@HimanshiJain @pandilladivya I will share detailed description on how i am going to proceed in a day or two.

[2017-08-29 19:05] zarka commented on #83
Running `app:lintVitalRelease` gives 9 errors.
These errors are about permissions not being direct child of `manifest` tag in `manifest.xml`

[2017-08-29 19:11] zarka commented on #47
@vaibhavsingh97
Happy to help.

[2017-08-30 03:48] sandarumk commented on #83
You can export the lint list similar to this http://chamika.github.io/PCSA-Issues/ and paste the link here so it will be easier for the new comers to come and pick an issue

[2017-09-02 20:42] pandilladivya commented on #83
Here is the list of lint errors in the project.
https://pandilladivya.github.io/vola_lint/index.html

[2017-09-05 12:46] vaibhavsingh97 commented on #67
@HimanshiJain @pandilladivya to bookmark events we will use local db to store the events. As the bookmarking is the common event so we don't have to track that user is logged in or not. We will make separate table in database which will store favorite events
- If user uninstalls the application
A: Database will be deleted so user will not able to see the bookmark events if user reinstall the appli

[2017-09-09 12:45] BaaniLeen commented on #83
Hey @sandarumk @pandilladivya

Can I solve the following 2 lint issues  :

i) Incorrect order of elements in manifest isnpection.
ii) Menu namespace inspection error
as mentioned in the list of lint errors in the project.

Many Thanks! :)

[2017-09-09 17:18] pandilladivya commented on #83
@BaaniLeen Since this issue is for beginners, you can claim one issue, @sandarumk What do you suggest?

[2017-09-10 02:45] BaaniLeen commented on #83
@pandilladivya As u suggest.

I can make a PR for any of the lint issues suggested above, having already solved them on my computer.

Let me know which one shall I solve. Many Thanks! :)

[2017-09-10 17:48] sandarumk commented on #83
@pandilladivya correct. You can make a PR for any issue you like. But please mention here the issue you solve so that others would not get it.

[2017-09-12 10:46] BaaniLeen commented on #83
@sandarumk @pandilladivya I have made a PR #85 for resolving the Menu namespace inspection error. Kindly review.
Many Thanks! :)

[2017-10-13 06:02] sandarumk commented on #23
@pandilladivya What is the final status of this? Please mention what is available and what is not so we can close this and have a separate issue for the ones which are not available.

[2017-10-13 06:05] sandarumk commented on #28
@pandilladivya are you going to write the tests for the Facebook and Google sign in? @HimanshiJain @MeepyMay do we need tests for Facebook and Google sign in? @pandilladivya can you mention the feasibility of writing Facebook and Google sign in tests, because if that cannot be done we can close this. Else we can resolve this and start a new open issue which can be possibly used in GCI

[2017-10-15 17:18] pandilladivya commented on #23
@sandarumk This is done - user can now view their location on the map.

Fixed by #81

[2017-10-15 17:28] pandilladivya commented on #28
Google doesn't offer a test user API. I think we should use real google users. This can cause issues if Google blocks these accounts.

Facebook provides test user API's. Ref https://developers.facebook.com/docs/facebook-login/testing-your-login-flow/

[2017-10-15 17:38] #23 closed

[2017-10-20 10:20] HimanshiJain commented on #28
@sandarumk  I think these tests should be written as a good practice. I think we shouldn't use real Google users. It should be some test users that should be used. Therefore, we can avoid Google login testing for now. What do you suggest?

But Facebook testing can be done as it is well documented. @pandilladivya what stops you from testing Facebook Login flow?

[2017-10-26 18:27] pandilladivya commented on #28
@HimanshiJain
Facebook is not connected with firebase yet, because we did not get systers facebook account details,  I am using my own developer account.

I think it would be better if we integrate firebase with facebook and write tests for signin.

[2017-10-28 14:57] sandarumk commented on #67
@pandilladivya Any update about this?

[2017-10-28 17:39] pandilladivya commented on #67
@vaibhavsingh97 There is no local db as of now in the application. We are using firebase for everything.
What is the local db you want to use? SQLite ?

[2017-10-29 17:27] HimanshiJain commented on #67
@vaibhavsingh97 you can start working on this now that #82 has been merged.

[2017-10-29 17:33] HimanshiJain opened #87 "Bookmark Button on Each event in the Event List"
Description:
Bookmark Button on Each event in the Event List

Acceptance Criteria:

1. User should be able to bookmark events from the event list itself.
2. User should be able to differentiate already bookmarked events.
3. Tests for the same.

[2017-10-29 19:09] Rimjhim28 commented on #87
@HimanshiJain I would like to work on this.

[2017-11-03 07:45] Rimjhim28 opened #88 "Redefination of layouts for screens of different sizes and for landscape mode"
Currently, the app uses a single defination of layouts for portrait and landscape modes. Also, the same layout is used for different screen sizes. This is resulting in just stretching of the UI elements to fit the screen. Instead, we can create different layouts for landscape and different screen sizes to have a proper orientation of the elements and for better utilization of the emerging white sp

[2017-11-03 16:04] pandilladivya commented on #88
@Rimjhim28 I don't think changing the UI from Listview to Gridview for bigger screens / landscape could be a better option because, there will be inconsistency in the user interface.

@sandarumk @HimanshiJain what do you suggest?

[2017-11-03 16:16] Rimjhim28 commented on #88
@pandilladivya That was just an example I used to explain the issue. Surely there can be a much better implementation for the layouts.

[2017-11-03 16:21] pandilladivya commented on #88
@Rimjhim28 Can you suggest few by making simple mocks?

[2017-11-03 16:32] Rimjhim28 commented on #88
Ya sure! Will need some time :)

[2017-11-05 10:20] Rimjhim28 commented on #88
Here are some mocks @pandilladivya
According to material design, the navigation drawer can always be visible for screens of larger widths.
![screenshot_1509876069](https://user-images.githubusercontent.com/26908195/32413869-5ff7f1f2-c240-11e7-8ce0-636b42cb921f.png)

Instead of having just one streched out element two elements could be a better option.
![screenshot_1509876115](https://user-images.g

[2017-11-05 10:30] pandilladivya commented on #88
@Rimjhim28 Looks good to me.

Lets wait for @sandarumk @HimanshiJain to put in their views! :)

[2017-11-05 10:38] sandarumk commented on #88
For me, I believe the change/suggestion would be a very large change and before that we do have to have a better understanding on the direction of the project as well as how much change we need until the next project lifecycle. @MeepyMay ca we have a quick meeting on the same?

[2017-11-05 13:31] Rimjhim28 commented on #88
@pandilladivya @sandarumk Should I continue with other layouts or wait for @MeepyMay 's reply.

[2017-11-05 17:20] MeepyMay commented on #88
@sandarumk I think a meeting discussing project's lifecycle/future would be best.

For me, I understand the "unnecessary white space" @Rimjhim28 mentioned. However, this application was built with the minimal functional product in mind. So the white space can be filled with additional features as the project grows.

i.e. [Plus Button with Floating Actions](https://storage.googleapis.com/material-d

[2017-11-06 03:35] Rimjhim28 commented on #88
Yeah! But some elements like a permanent opened navigation drawer and left and right margins for profilr and registration in tablet views can be included. These are in accordance with the material design guidelines and would give a better view of the app. Can I work and send PRs for them? @pandilladivya @sandarumk @MeepyMay @HimanshiJain

[2018-02-24 20:34] m-murad opened #92 "Update PrefManager.java"
## Description
`PrefManager.java` in this project is an abstraction layer on the Android's `SharedPreferences API`. The abstraction has been poorly implemented.

- `apply()` or `commit()` is not being called immediately after `edit()`
- Preference name is set to "`LoginPrefs`", while the preferences should be for the whole app.
- Instead of `commit()`, `apply()` should be called while closing the

[2018-02-24 20:42] m-murad opened #93 "Use Serializable annotation instead of interface in Event model."
## Description
The `Event` POJO class is implementing the Serializable interface for serialization/deserialization. But this method has a huge overhead which cannot be ignored. Instead, use the @Serializable annotation to do the serialization/deserialization.

## Acceptance Criteria
### Update [Required]
- [ ] Use @Serializable annotation for serialization/deserialization of `Events.java` POJO.

#

[2018-02-24 20:55] m-murad opened #94 "Update gradle configrations."
## Description
The project is using `gradle-4.1` in which configurations like `compile`, `testCompile` etc have been deprecated. Remove these deprecated configurations and replace them with new configurations. You can read more about the migration [here](https://developer.android.com/studio/build/gradle-plugin-3-0-0-migration.html).

## Acceptance Criteria
### Update [Required]
- [ ] Update deprec

[2018-03-03 06:13] DipanshKhandelwal commented on #92
Is anyone working on it? If not I want to help. :smile:

[2018-03-03 08:04] m-murad commented on #92
This issue hasn't be assigned to any one.
Go right ahead and send a PR.

Make sure you read the contribution guidelines

[2018-03-31 09:19] haroonshah2764 opened #96 "Make checkConnectivity method static"
## Description
As a developer,
I notice that checkConnectivity() method has been declared inside an Activity class. This should be a static util method
We should make it a static mentode so that it can be used everywhere without creating new objects and incurring significant memory overhead.

## Acceptance Criteria
### Update [Required]
- [ ] checkConnectivity should be make static.
### Enhancemen

[2018-03-31 09:27] haroonshah2764 commented on #96
can I fix this issue

[2018-04-01 08:22] DipanshKhandelwal opened #97 "Update app to follow Google Material Design"
## Description
Update apps to follow Google Material Design

### Enhancement to Update [Optional]
- [ ] UI upgrade

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
Approximately 1-2 weeks

[2018-04-01 08:27] Rimjhim28 commented on #97
@DipanshKhandelwal Though the title does not look enough but some discussion on material design is already done on #88

[2018-04-02 04:22] DipanshKhandelwal commented on #97
@Rimjhim28 #88 Though discussions are there about Material Design but the issue is about having the correct layout in different sizes. Other than the layouts for different sizes, there are other things that we need to consider, that's why opened a separate issue for the same.

[2018-04-11 17:50] Rimjhim28 opened #98 "Add screenshots to Readme"
## Description
As a contributor,
I need add screenshots to the readme,
so that any new contributor could easily get familiarised with the project.

## Mocks
Not applicable

## Acceptance Criteria
### Update [Required]
- [ ] Add screenshots of all major activities

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
0.5 hours

**I would li

[2018-04-13 21:22] m-murad opened #99 "Automate the apk building process."
## Description
As a developer,
I need to automate the process of building the apk,
so that we always have the apk with the latest code.

## Acceptance Criteria
### Update [Required]
- [ ] Apk is automatically updated on the apk branch

## Estimation
1 hours

[2018-04-14 16:40] m-murad commented on #98
@Rimjhim28
please send a PR

[2018-04-14 17:18] Rimjhim28 commented on #88
@m-murad Can I send a PR for this?

[2018-04-20 00:01] MeepyMay opened #102 "Wiki Sidebar Update"
## Description
As a newcomer,
I need to navigate the repo successfully,
so that I can understand where the project is in its development.

## Mocks
![screen shot 2018-04-19 at 3 47 20 pm](https://user-images.githubusercontent.com/2440938/39014663-06dcb230-43e9-11e8-997c-96a89b7c55e8.png)

## Acceptance Criteria
### Update [Required]
- [ ] Update to [the template](https://docs.google.com/document/d

[2018-04-20 03:07] Rimjhim28 commented on #102
@MeepyMay I would like to work on this

[2018-04-20 18:53] m-murad commented on #102
@Rimjhim28
send a PR for this

[2018-04-21 23:24] m-murad commented on #99
fixed in #101

[2018-04-21 23:24] #99 closed

[2018-04-21 23:25] m-murad commented on #98
fixed in #100

[2018-04-21 23:25] #98 closed

[2018-05-06 11:34] haroonshah2764 opened #104 "Move some file to .github directory."
## Description
As a developer,
I can move some files to `.github` directory,
so that the repository looks cleaner.
the files that can be moved are:

-  ISSUE_TEMPLATE.md
-  PULL_REQUEST_TEMPLATE.md
-  code_of_conduct.md
-  reporting_guidelines.md
-  CONTRIBUTING.md

## Definition of Done
- [ ] All files are moved.
- [ ] All existing links are updated.

## Estimation
30 mins

[2018-05-09 12:44] roopalJazz opened #106 "Add Travis CI for maintaining quality of incoming code"
## Description
As a developer,
I need continuous integration of the updated code
so that build process becomes easier and reliable.

## Definition of Done
- [ ] Travis CI dashboard is visible
- [ ] Approval by 1 mentor.

## Estimation
1 hr

[2018-05-11 07:29] #106 closed

[2018-05-16 12:05] roopalJazz opened #108 "Implement MVP design pattern"
## Description
As a developer,
I need the code base to be refactored and port the code to MVP architecture,
so that app code becomes more readable and maintainable for a longer duration.

## Acceptance Criteria
To ensure that your code is valid and stable, use check:

./gradlew check

This will run all the code analysis tools and unit tests in the following order:

![check-task-diagram](https://us

[2018-05-16 12:27] roopalJazz opened #109 "Add code quality plugin PMD"
## Description
As a developer,
I need code analysis tool PMD ,
to find common programming flaws like unused variables, empty catch blocks, unnecessary object creation, etc .

## Acceptance Criteria
To ensure that your code is valid and stable use check:

./gradlew pmd

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 2 mentor.

## Estimation
1-2 days

[2018-05-16 12:38] roopalJazz opened #110 "Refactor app's code base to follow MVP framework provided by Ribot"
## Description
As a developer,
I need to refactor code,
so that code base follows MVP framework provided by Ribot.

## Acceptance Criteria
The code should follow the MVP framework

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 2 mentor.

## Estimation
4-5 days

[2018-05-16 12:45] roopalJazz opened #111 "Add code quality plugin FindBugs"
## Description
As a developer,
I need code analysis tool FindBugs ,
to find bugs in compiled Java Code.

## Acceptance Criteria
To ensure that your code is valid and stable use check:

./gradlew findbugs

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 2 mentor.

## Estimation
1-2 days

[2018-05-16 12:48] roopalJazz opened #112 "Add code quality plugin Checkstyle"
## Description
As a developer,
I need code analysis tool Checkstyle,
to ensure that the code style follows Ribot Android code guidelines.

## Acceptance Criteria
To ensure that your code is valid and stable use check:

./gradlew checkstyle

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 2 mentor.

## Estimation
1-2 days

[2018-05-23 04:38] #109 closed

[2018-05-23 04:38] #111 closed

[2018-05-23 04:38] #112 closed

[2018-05-23 04:43] #104 closed

[2018-05-23 13:12] #47 closed

[2018-06-05 13:03] yatri1609 commented on #87
Is it still available to work? If so I would like to proceed with the same.

[2018-06-19 04:56] roopalJazz opened #117 "Add Room Persistence Library (Architecture Component)"
## Description
As a developer,
I need to add Room Persistence Library,
so that I have a database to connect to a robust UI.

## Mocks
Not applicable

## Acceptance Criteria

### Update [Required]
- [ ] Entity Declaration
- [ ] Database access object (DAO) declaration

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
3 hours

[2018-06-19 05:05] roopalJazz opened #118 "Implement LiveData to monitor changes in database"
## Description
As a developer,
I need to add LiveData architecture component,
so that views get notified when underlying database changes.

## Mocks
![image](https://user-images.githubusercontent.com/19304435/41577662-c2429f7a-73ab-11e8-95f1-48f8fd177b1a.png)

## Acceptance Criteria
### Update [Required]
- [ ] Instance of LiveData Object
- [ ] Instance of Observer Object
- [ ] Attaching the two

#

[2018-06-19 05:16] roopalJazz opened #119 "Implement LifeCycle aware-components to manage activity and fragment lifecyles"
## Description
As a developer,
I want to handle lifecyles using LifeCycle-aware components,
so that I actions can be performed in response to change in change in lifecycles of other components

## Mocks
Not applicable

## Acceptance Criteria
### Update [Required]
- [ ] LifeCycle Class and methods

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

##

[2018-06-19 05:26] roopalJazz opened #120 "Add ViewModel architecture component to manage and store UI-related data"
## Description
As a developer,
I need to implement ViewModel class,
so that data survives configuration changes.

## Mocks
![image](https://user-images.githubusercontent.com/19304435/41578320-42f45c28-73af-11e8-86ef-4d98dfcd8ce9.png)

## Acceptance Criteria
### Update [Required]
- [ ] Implementation of ViewModel

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval b

[2018-06-20 14:10] haroonshah2764 opened #121 "PMD bugs in volunteer-android"
## Description
As a Developer
I need to fix the following PMD bugs,
so that the code is clean.

## Acceptance Criteria
### Update [Required]
- [ ] The field name indicates a constant but its modifiers do not (MainActivity.java Line 42)
- [ ] The field name indicates a constant but its modifiers do not (MainActivity.java Line 46)
- [ ] Use equals() to compare strings instead of '==' or '!=' (MainAc

[2018-06-25 17:16] prachi1210 commented on #97
Closing this issue for breakdown into further issues

[2018-06-25 17:16] #97 closed

[2018-06-25 17:50] roopalJazz commented on #88
@haroonshah2764 have a look at this issue.

[2018-06-25 17:51] roopalJazz commented on #96
@m-murad  why this issue was reopened?

[2018-06-27 11:50] roopalJazz opened #123 "Add bottom App bar (Material design component)"
## Description
As a user, I need to able to navigate through the app easily,
I need a bottom app bar,
so that I have access to a bottom navigation drawer and actions related to the current screen.

## Mocks
![image](https://user-images.githubusercontent.com/19304435/41816977-a726cb46-77af-11e8-83cb-5930c0b43177.png)

## Acceptance Criteria
### Update [Required]
- [ ] Bottom App bar

## Definition

[2018-06-27 12:04] roopalJazz opened #124 "Adding Snackbars (Material Design Component)"
## Description
As a developer,
I want to implement google material design component snackbar,
so that I can get brief feedback about the operation being carried out .

## Mocks
![image](https://user-images.githubusercontent.com/19304435/41972665-20f82cda-7a30-11e8-82b8-e360a81763f9.png)

## Acceptance Criteria
### Update [Required]
- [ ] Snackbar

## Definition of Done
- [ ] All of the required it

[2018-06-28 04:23] roopalJazz opened #125 "Implementing Material Card (Material design component)"
## Description
As a developer,
I need to implement MaterialCard ,
so that elements of varying size can be contained in the app, like photos with captions of variable length,

## Mocks
Not Required.

## Acceptance Criteria
### Update [Required]
- [ ] MaterialCard implementation in images, text

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Esti

[2018-06-29 10:33] roopalJazz opened #126 "Replacing TextInputEditText with EditText (Material Design Component)"
## Description
As a developer,
I need to incorporate material design component in the app
so that I have greater control over the visual aspects of the input text,

## Mocks
Not Required.

## Acceptance Criteria
### Update [Required]
- [ ] TextInputEditText implementation

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
3 hours

[2018-06-29 16:47] batbrain7 commented on #108
@roopalJazz u still working on this?

[2018-06-30 20:04] sviho commented on #121
@haroonshah2764 Is it still available? I'd like to work on it!

[2018-07-01 04:19] roopalJazz commented on #121
@sviho Yes you can work on it

[2018-07-04 10:04] roopalJazz commented on #108
@batbrain7 This has been completed.

[2018-07-04 10:04] #108 closed

[2018-07-04 10:04] #110 closed

[2018-07-04 11:38] #117 closed

[2018-07-04 11:38] #118 closed

[2018-07-04 11:38] #120 closed

[2018-07-04 11:39] #119 closed

[2018-07-04 11:39] #96 closed

[2018-07-04 13:00] haroonshah2764 commented on #94
@roopalJazz @niksj i have fixed this issue, this can be closed now.

[2018-07-04 13:01] haroonshah2764 commented on #93
@roopalJazz @niksj i have fixed this issue, this can be closed now.

[2018-07-04 13:01] haroonshah2764 commented on #92
@roopalJazz @niksj i have fixed this issue, this can be closed now.

[2018-07-04 13:01] haroonshah2764 commented on #83
@roopalJazz @niksj i have fixed this issue, this can be closed now.

[2018-07-04 14:50] #123 closed

[2018-07-04 14:50] #124 closed

[2018-07-04 14:50] #125 closed

[2018-07-04 14:50] #126 closed

[2018-07-05 05:15] #92 closed

[2018-07-05 05:15] #83 closed

[2018-07-05 05:16] #93 closed

[2018-07-05 05:16] #94 closed

[2018-07-05 10:34] roopalJazz opened #130 "Add LeakCanary library to detect memory leaks"
## Description
As a developer,
I need to add LeakCanary,
so that I can detect an active memory leak.

## Mocks
![image](https://user-images.githubusercontent.com/19304435/42318456-b728913a-806c-11e8-829e-c0cdd2824ae6.png)

## Acceptance Criteria
### Update [Required]
- [ ] Implementation of LeakCanary library

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1

[2018-07-05 10:40] roopalJazz opened #131 "Add Timber for logging events"
## Description
As a developer,
I need to implement Timber open source library,
so that it becomes easier to detect problems in the app and automatically figure out the class being called.

## Mocks
Not Required

## Acceptance Criteria
### Update [Required]
- [ ] Installation of Tree
- [ ] Calling Timber's static methods throughout the app

## Definition of Done
- [ ] All of the required items are

[2018-07-06 03:02] roopalJazz opened #132 "Add Picasso library to handle images loading and caching efficiently"
## Description
As a developer,
I need to handle images through Picasso library,
so that I can pitfalls (given below) of image loading in Android :
- [ ] Handling ImageView recycling and download cancelation in an adapter
- [ ] Complex image transformations with minimal memory use.
- [ ] Automatic memory and disk caching

## Mocks
Not Required

## Acceptance Criteria
### Update [Required]
- [ ] Imp

[2018-07-06 03:07] roopalJazz opened #133 "Add Lombok to reduce boilerplate code for model/data objects"
## Description
As a developer,
I need to implement Lombok library,
so that I can reduce boilerplate code.

## Mocks
Not Required

## Acceptance Criteria
### Update [Required]
- [ ] Setup Lombok compile time  library

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 hour

[2018-07-07 02:41] roopalJazz opened #134 "Add EasyPermissions library to simplify basic permissions logic"
## Description
As a developer,
I need to handle permissions,
so that I can simplify permissions logic when targeting Android M or higher.

## Mocks
Not Required.

## Acceptance Criteria
### Update [Required]
- [ ] Implementation of hasPermissions
- [ ] Implementation of requestPermissions
- [ ] Implementation of AfterPermissionGranted
- [ ] handling Required permissions
## Definition of Done
- [ ]

[2018-07-09 13:44] #130 closed

[2018-07-10 07:29] #131 closed

[2018-07-10 07:30] #133 closed

[2018-07-11 07:13] haroldadmin opened #139 "Unable to run application on device: INSTALL_FAILED_NO_MATCHING_ABIS"
## Description
An unmodified clone of this project repo builds without any errors, but trying to run the application on a real device causes the following error:

Installation failed with message Failed to finalize session : INSTALL_FAILED_NO_MATCHING_ABIS: Failed to extract native libraries, res=-113.

![screen shot 2018-07-11 at 12 34 06 pm](https://user-images.githubusercontent.com/24315306/425

[2018-07-11 09:33] haroldadmin commented on #139
The issue is not present on an x86 Nexus 5 emulator running Android 7.1.1.
This seems to be limited to Oreo and P devices.

[2018-07-12 14:06] #132 closed

[2018-08-31 08:03] shikherjaiswal commented on #121
I would like to work on this issue.

[2018-09-04 19:34] shikherjaiswal commented on #121
Any update ?

[2018-10-27 19:13] haroldadmin opened #142 "Fix the height of text-buttons on Signup and Login activity"
## Description
As a user,
I need to be able to sign-up/login easily,
so that I can use the app.

The current login and sign up screens use fixed-height buttons, which causes some part of the text to get clipped. See the attached screenshot for a better explanation:

<img src="https://user-images.githubusercontent.com/24315306/47608368-06201100-da4a-11e8-976e-e188f4257992.jpg" width="45%"></img> <i